In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_json('../data/company_tickers.json').T

In [3]:
df.head(5)

   cik_str ticker           title
0   320193   AAPL      Apple Inc.
1   789019   MSFT  MICROSOFT CORP
2  1652044  GOOGL   Alphabet Inc.
3  1018724   AMZN  AMAZON COM INC
4  1318605   TSLA     Tesla, Inc.

In [4]:
df.shape

(12063, 3)

In [5]:
x = 'Apple Inc.'
x.split(' ')[0]

'Apple'

In [6]:
def limpiar_comp(x): 
    comp = (x.split(" ")[0]).title()
    return comp

In [7]:
df.replace(',','', regex=True, inplace=True)

In [8]:
df["company"] = df["title"].apply(limpiar_comp)

In [9]:
df.head(5)

   cik_str ticker           title    company
0   320193   AAPL      Apple Inc.      Apple
1   789019   MSFT  MICROSOFT CORP  Microsoft
2  1652044  GOOGL   Alphabet Inc.   Alphabet
3  1018724   AMZN  AMAZON COM INC     Amazon
4  1318605   TSLA      Tesla Inc.      Tesla

In [10]:
df.drop(['cik_str','title'], axis = 1, inplace = True)

In [11]:
df.head(5)

  ticker    company
0   AAPL      Apple
1   MSFT  Microsoft
2  GOOGL   Alphabet
3   AMZN     Amazon
4   TSLA      Tesla

In [12]:
df.to_csv('../data/companiesclean.csv', index = False)

**NOTE** Testing with the function

In [13]:
import sys
sys.path.append('../')

import src.functions_project as functions

In [14]:
functions.clean_json_companies()

  ticker    company
0   AAPL      Apple
1   MSFT  Microsoft
2  GOOGL   Alphabet
3   AMZN     Amazon
4   TSLA      Tesla

In [ ]:
#works, perfect