In [1]:
import pandas as pd
import numpy as np
import sidetable #we might not use it, but just in case
import datetime

In [2]:
df_presi = pd.read_csv('../data/presidential_polls.csv')
df_presi.head(2)

,cycle,branch,type,matchup,forecastdate,state,startdate,enddate,pollster,grade,...,adjpoll_clinton,adjpoll_trump,adjpoll_johnson,adjpoll_mcmullin,multiversions,url,poll_id,question_id,createddate,timestamp
0,2016,President,polls-plus,Clinton vs. Trump vs. Johnson,11/1/16,U.S.,10/25/2016,10/31/2016,Google Consumer Surveys,B,...,42.64140,40.86509,5.675099,NaN,NaN,https://datastudio.google.com/u/0/#/org//repor...,47940,74999,11/1/16,15:09:38 1 Nov 2016
1,2016,President,polls-plus,Clinton vs. Trump vs. Johnson,11/1/16,U.S.,10/27/2016,10/30/2016,ABC News/Washington Post,A+,...,43.29659,44.72984,3.401513,NaN,NaN,http://www.langerresearch.com/wp-content/uploa...,47881,74936,11/1/16,15:09:38 1 Nov 2016

In [3]:
df_presi.shape

(10236, 27)

In [4]:
df_presi.columns

Index(['cycle', 'branch', 'type', 'matchup', 'forecastdate', 'state',
       'startdate', 'enddate', 'pollster', 'grade', 'samplesize', 'population',
       'poll_wt', 'rawpoll_clinton', 'rawpoll_trump', 'rawpoll_johnson',
       'rawpoll_mcmullin', 'adjpoll_clinton', 'adjpoll_trump',
       'adjpoll_johnson', 'adjpoll_mcmullin', 'multiversions', 'url',
       'poll_id', 'question_id', 'createddate', 'timestamp'],
      dtype='object')

In [5]:
df_presi.duplicated(['poll_id']).sum()

6824

In [6]:
df_presi.drop(['type','forecastdate','startdate','adjpoll_mcmullin', 'multiversions', 'url',
       'poll_id', 'question_id', 'createddate', 'timestamp','cycle', 'branch','rawpoll_johnson',
       'rawpoll_mcmullin','rawpoll_clinton', 'rawpoll_trump','adjpoll_johnson','population','grade'], axis = 1, inplace = True)

In [7]:
df_presi.head(2)

,matchup,state,enddate,pollster,samplesize,poll_wt,adjpoll_clinton,adjpoll_trump
0,Clinton vs. Trump vs. Johnson,U.S.,10/31/2016,Google Consumer Surveys,24316.0,6.139129,42.64140,40.86509
1,Clinton vs. Trump vs. Johnson,U.S.,10/30/2016,ABC News/Washington Post,1128.0,4.197292,43.29659,44.72984

In [8]:
df_presi.dtypes

matchup             object
state               object
enddate             object
pollster            object
samplesize         float64
poll_wt            float64
adjpoll_clinton    float64
adjpoll_trump      float64
dtype: object

In [9]:
#this is looknig good, however now I need the enddate to be in date format

In [10]:
df_presi['date'] = pd.to_datetime(df_presi['enddate'], format='%m/%d/%Y')

In [11]:
df_presi.drop(['enddate'], axis = 1, inplace = True)

In [12]:
df_presi.head(2)

,matchup,state,pollster,samplesize,poll_wt,adjpoll_clinton,adjpoll_trump,date
0,Clinton vs. Trump vs. Johnson,U.S.,Google Consumer Surveys,24316.0,6.139129,42.64140,40.86509,2016-10-31
1,Clinton vs. Trump vs. Johnson,U.S.,ABC News/Washington Post,1128.0,4.197292,43.29659,44.72984,2016-10-30

In [13]:
df_presi['year'] = df_presi['date'].dt.year
df_presi['month'] = df_presi['date'].dt.month
df_presi['day'] = df_presi['date'].dt.day

In [14]:
df_presi.head(2)

,matchup,state,pollster,samplesize,poll_wt,adjpoll_clinton,adjpoll_trump,date,year,month,day
0,Clinton vs. Trump vs. Johnson,U.S.,Google Consumer Surveys,24316.0,6.139129,42.64140,40.86509,2016-10-31,2016,10,31
1,Clinton vs. Trump vs. Johnson,U.S.,ABC News/Washington Post,1128.0,4.197292,43.29659,44.72984,2016-10-30,2016,10,30

In [15]:
df_presi.drop(['date'], axis = 1, inplace = True)

In [16]:
df_presi.head(2)

,matchup,state,pollster,samplesize,poll_wt,adjpoll_clinton,adjpoll_trump,year,month,day
0,Clinton vs. Trump vs. Johnson,U.S.,Google Consumer Surveys,24316.0,6.139129,42.64140,40.86509,2016,10,31
1,Clinton vs. Trump vs. Johnson,U.S.,ABC News/Washington Post,1128.0,4.197292,43.29659,44.72984,2016,10,30

In [17]:
df_presi.dtypes

matchup             object
state               object
pollster            object
samplesize         float64
poll_wt            float64
adjpoll_clinton    float64
adjpoll_trump      float64
year                 int64
month                int64
day                  int64
dtype: object

In [18]:
df_presi.sample(5)

,matchup,state,pollster,samplesize,poll_wt,adjpoll_clinton,adjpoll_trump,year,month,day
2765,Clinton vs. Trump vs. Johnson,U.S.,USC Dornsife/LA Times,2576.0,1.555000e-04,43.93398,43.46234,2016,8,30
7901,Clinton vs. Trump vs. Johnson,Texas,SurveyMonkey,1940.0,5.380260e-02,40.54567,45.56289,2016,10,30
6643,Clinton vs. Trump vs. Johnson,U.S.,Ipsos,1426.0,1.220000e-08,42.34401,37.04259,2016,2,3
5600,Clinton vs. Trump vs. Johnson,Nevada,Gravis Marketing,1637.0,1.440200e-03,43.14405,46.82602,2016,5,25
1120,Clinton vs. Trump vs. Johnson,Ohio,SurveyMonkey,1307.0,4.713100e-02,39.91053,45.35541,2016,10,16

In [19]:
df_presi['handle'] = df_presi['matchup'].replace(['Clinton vs. Trump vs. Johnson'],'Clinton vs. Trump')

In [20]:
df_presi.head(2)

,matchup,state,pollster,samplesize,poll_wt,adjpoll_clinton,adjpoll_trump,year,month,day,handle
0,Clinton vs. Trump vs. Johnson,U.S.,Google Consumer Surveys,24316.0,6.139129,42.64140,40.86509,2016,10,31,Clinton vs. Trump
1,Clinton vs. Trump vs. Johnson,U.S.,ABC News/Washington Post,1128.0,4.197292,43.29659,44.72984,2016,10,30,Clinton vs. Trump

In [21]:
df_presi.drop(['matchup'], axis = 1, inplace = True)

In [22]:
df_presi.head(2)

,state,pollster,samplesize,poll_wt,adjpoll_clinton,adjpoll_trump,year,month,day,handle
0,U.S.,Google Consumer Surveys,24316.0,6.139129,42.64140,40.86509,2016,10,31,Clinton vs. Trump
1,U.S.,ABC News/Washington Post,1128.0,4.197292,43.29659,44.72984,2016,10,30,Clinton vs. Trump

In [23]:
#letÂ´s create unique_id

df_presi['fecha'] = df_presi['year'].astype(str) + df_presi['month'].astype(str) + df_presi['day'].astype(str)
df_presi['unique_id'] = df_presi['fecha'] + '_' + df_presi['handle']

In [24]:
df_presi.head(6)

,state,pollster,samplesize,poll_wt,adjpoll_clinton,adjpoll_trump,year,month,day,handle,fecha,unique_id
0,U.S.,Google Consumer Surveys,24316.0,6.139129,42.64140,40.86509,2016,10,31,Clinton vs. Trump,20161031,20161031_Clinton vs. Trump
1,U.S.,ABC News/Washington Post,1128.0,4.197292,43.29659,44.72984,2016,10,30,Clinton vs. Trump,20161030,20161030_Clinton vs. Trump
2,Virginia,ABC News/Washington Post,1024.0,3.876856,46.29779,40.72604,2016,10,30,Clinton vs. Trump,20161030,20161030_Clinton vs. Trump
3,Florida,SurveyUSA,1251.0,3.403096,46.35931,45.30585,2016,10,24,Clinton vs. Trump,20161024,20161024_Clinton vs. Trump
4,U.S.,Pew Research Center,2120.0,3.394646,45.32744,42.20888,2016,10,25,Clinton vs. Trump,20161025,20161025_Clinton vs. Trump
5,U.S.,Fox News/Anderson Robbins Research/Shaw & Comp...,1221.0,3.346535,44.65080,42.26663,2016,10,25,Clinton vs. Trump,20161025,20161025_Clinton vs. Trump

In [25]:
df_presi.dtypes

state               object
pollster            object
samplesize         float64
poll_wt            float64
adjpoll_clinton    float64
adjpoll_trump      float64
year                 int64
month                int64
day                  int64
handle              object
fecha               object
unique_id           object
dtype: object

In [26]:
df_presi['index_1'] = df_presi['samplesize'] * df_presi['poll_wt']

In [27]:
df_presi.head(2)

,state,pollster,samplesize,poll_wt,adjpoll_clinton,adjpoll_trump,year,month,day,handle,fecha,unique_id,index_1
0,U.S.,Google Consumer Surveys,24316.0,6.139129,42.64140,40.86509,2016,10,31,Clinton vs. Trump,20161031,20161031_Clinton vs. Trump,149279.060764
1,U.S.,ABC News/Washington Post,1128.0,4.197292,43.29659,44.72984,2016,10,30,Clinton vs. Trump,20161030,20161030_Clinton vs. Trump,4734.545376

In [28]:
df_test = pd.DataFrame(df_presi.groupby('unique_id')['index_1'].sum())

In [29]:
df_test.reset_index(inplace = True)

In [30]:
df_adjc = pd.DataFrame(df_presi.groupby('unique_id')['adjpoll_clinton'].mean())
df_adjt = pd.DataFrame(df_presi.groupby('unique_id')['adjpoll_trump'].mean())

In [31]:
df_adjc.reset_index(inplace = True)
df_adjt.reset_index(inplace = True)

In [32]:
df_adjc.head(5)

                    unique_id  adjpoll_clinton
0  20151113_Clinton vs. Trump        49.390183
1  20151115_Clinton vs. Trump        41.707332
2  20151116_Clinton vs. Trump        42.949914
3  20151117_Clinton vs. Trump        45.141442
4  20151119_Clinton vs. Trump        41.589907

In [33]:
df_adjc.shape

(338, 2)

In [34]:
df_adjt.shape

(338, 2)

In [35]:
df_test.sort_values('index_1' , ascending = False)

                     unique_id        index_1
56  20161031_Clinton vs. Trump  836269.405366
55  20161030_Clinton vs. Trump  539528.071579
50  20161026_Clinton vs. Trump  157505.713698
48  20161024_Clinton vs. Trump  130329.739849
49  20161025_Clinton vs. Trump   94949.477702
..                         ...            ...
85    201612_Clinton vs. Trump       0.000008
12  20151218_Clinton vs. Trump       0.000006
74    201611_Clinton vs. Trump       0.000002
9   20151214_Clinton vs. Trump       0.000000
1   20151115_Clinton vs. Trump       0.000000

[338 rows x 2 columns]

In [36]:
df_test.head(5)

                    unique_id   index_1
0  20151113_Clinton vs. Trump  0.000196
1  20151115_Clinton vs. Trump  0.000000
2  20151116_Clinton vs. Trump  0.032930
3  20151117_Clinton vs. Trump  0.024735
4  20151119_Clinton vs. Trump  0.000847

In [37]:
df_polls2 = pd.merge(df_adjc,df_adjt, on = 'unique_id')

In [38]:
df_elec = pd.merge(df_polls2, df_test, on = 'unique_id')

In [39]:
df_elec.head(3)

                    unique_id  adjpoll_clinton  adjpoll_trump   index_1
0  20151113_Clinton vs. Trump        49.390183      36.714560  0.000196
1  20151115_Clinton vs. Trump        41.707332      41.849163  0.000000
2  20151116_Clinton vs. Trump        42.949914      43.854084  0.032930

In [40]:
df_elec.shape

(338, 4)

In [41]:
#que bellezaaaaaaaaaaaaaa!!! ahora a trabajar en esta

x = '20151113_Clinton vs. Trump'
x.split('_')[1]

def limpiar_fecha(x): 
    fecha_string1 = x.split("_")[0]
    fecha_date = datetime.datetime.strptime(fecha_string1, '%Y%m%d')
    return fecha_date

def limpiar_handle(x): 
    handle_sr = x.split("_")[1]
    return handle_sr

In [42]:
df_elec["handle"] = df_elec["unique_id"].apply(limpiar_handle)
df_elec["fecha"] = df_elec["unique_id"].apply(limpiar_fecha)

In [43]:
df_elec.head(5)

,unique_id,adjpoll_clinton,adjpoll_trump,index_1,handle,fecha
0,20151113_Clinton vs. Trump,49.390183,36.714560,0.000196,Clinton vs. Trump,2015-11-13
1,20151115_Clinton vs. Trump,41.707332,41.849163,0.000000,Clinton vs. Trump,2015-11-15
2,20151116_Clinton vs. Trump,42.949914,43.854084,0.032930,Clinton vs. Trump,2015-11-16
3,20151117_Clinton vs. Trump,45.141442,40.746182,0.024735,Clinton vs. Trump,2015-11-17
4,20151119_Clinton vs. Trump,41.589907,45.997803,0.000847,Clinton vs. Trump,2015-11-19

In [44]:
df_elec['index_weighted'] = (df_elec['index_1'] / df_elec['index_1'].sum()) * 100

In [45]:
df_elec.head(2)

,unique_id,adjpoll_clinton,adjpoll_trump,index_1,handle,fecha,index_weighted
0,20151113_Clinton vs. Trump,49.390183,36.714560,0.000196,Clinton vs. Trump,2015-11-13,7.108429e-09
1,20151115_Clinton vs. Trump,41.707332,41.849163,0.000000,Clinton vs. Trump,2015-11-15,0.000000e+00

In [46]:
df_elec['index_1'].sum()

2752190.5274014226

In [47]:
df_elec.sort_values('index_1' , ascending = False)

,unique_id,adjpoll_clinton,adjpoll_trump,index_1,handle,fecha,index_weighted
56,20161031_Clinton vs. Trump,41.573255,41.696260,836269.405366,Clinton vs. Trump,2016-10-31,3.038559e+01
55,20161030_Clinton vs. Trump,43.414542,42.305003,539528.071579,Clinton vs. Trump,2016-10-30,1.960359e+01
50,20161026_Clinton vs. Trump,43.414019,42.505220,157505.713698,Clinton vs. Trump,2016-10-26,5.722922e+00
48,20161024_Clinton vs. Trump,42.276659,42.081514,130329.739849,Clinton vs. Trump,2016-10-24,4.735491e+00
49,20161025_Clinton vs. Trump,42.817695,42.847738,94949.477702,Clinton vs. Trump,2016-10-25,3.449960e+00
...,...,...,...,...,...,...,...
85,201612_Clinton vs. Trump,41.400150,34.712460,0.000008,Clinton vs. Trump,2016-01-02,2.742575e-10
12,20151218_Clinton vs. Trump,41.481583,29.224453,0.000006,Clinton vs. Trump,2015-12-18,2.093256e-10
74,201611_Clinton vs. Trump,35.904453,39.987013,0.000002,Clinton vs. Trump,2016-01-01,6.213233e-11
9,20151214_Clinton vs. Trump,26.044347,32.875730,0.000000,Clinton vs. Trump,2015-12-14,0.000000e+00
1,20151115_Clinton vs. Trump,41.707332,41.849163,0.000000,Clinton vs. Trump,2015-11-15,0.000000e+00

In [48]:
df_elec.drop(['index_1'], axis = 1, inplace =True)

In [49]:
df_elec.set_index(['unique_id'], inplace = True)

In [50]:
df_elec.shape

(338, 5)

In [51]:
df_elec.to_csv('../data/pollsclean.csv')

In [52]:
df_elec.dtypes

adjpoll_clinton           float64
adjpoll_trump             float64
handle                     object
fecha              datetime64[ns]
index_weighted            float64
dtype: object